{% csrf_token %}
<ul id="documents_list">
{% for document in documents_list %}
    <li name="{{ document.pk }}"><img src='{{ STATIC_URL }}images/pdf-icon.png' /><span>{{ document.document_file|basename }} (subido el {{ document.created|date:"d/m/Y" }} a las {{ document.created|date:"H:m:s" }} hs)</span></li>
{% empty %}
    <p>No hay documentos para enviar en este per&iacute;odo.</p>
{% endfor %}
</ul>
{% if documents_list %}
<button id="send_email">Enviar documentos</button>
{% endif %}

<script type="text/javascript">
    $('#send_email').click(function() {
        $.fancybox(
            {
            'type':'iframe',
            'href':"{% url mail-documents consorcio_id %}",
            'autoDimensions':true,
            'autoScale':true,
            // 'height': 50,
            // 'width': 450,
            'transitionIn':'none',
            'transitionOut':'none',
            'scrolling':'yes'
            }
        );
        return false;
    });
</script>
