{% csrf_token %}
{% if documents_list %}
<table id="documents_list" cellspacing="10">
<thead>
    <tr>
        <th><input type="checkbox" id="master_checkbox" title="(De)Seleccionar todo" onclick="checkSelected(this);"/></th>
        <th>Consorcio</th>
        <th>Consorcista</th>
        <th>Documento</th>
        <th>Corresponde</th>
        <th>Fecha de creaci&oacute;n</th>
    </tr>
</thead>
<tbody>
{% for document in documents_list %}
    <tr>
        <td><input type="checkbox" onclick="checkMaster();"/></td>
        <td>{{ document.consorcista.consorcio }}</td>
        <td>{{ document.consorcista }}</td>
        <td><span id="{{ document.pk }}" class="document_name"><img src='{{ STATIC_URL }}images/pdf-icon.png' /><a href="{% url download-document document.pk %}">{{ document.document_file|basename }}</a></span></td>
        <td>{{ document.belongs_to|date:"m/Y" }}</td>
        <td>{{ document.created|date:"d/m/Y H:m:s" }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
<br/>
<button id="send_email">Enviar documentos</button>
<button id="delete_documents">Eliminar documentos</button>
{% else %}
    <p>No hay documentos que coincidan con su b&uacute;squeda.</p>
{% endif %}

<script type="text/javascript">
    $('#send_email').click(function() {
        var checked_documents = $('input[type=checkbox]:checked').not('#master_checkbox');
        if (checked_documents.length == 0) {
            alert('Debe seleccionar al menos un documento a enviar');
            return false;
        }
        $.fancybox(
            {
            'type':'iframe',
            'href':"{% url mail-documents %}",
            'autoDimensions':true,
            'autoScale':true,
            // 'height': 50,
            // 'width': 450,
            'transitionIn':'none',
            'transitionOut':'none',
            'scrolling':'yes'
            }
        );
        return false;
    });

    $('#delete_documents').click(function() {
        var checked_documents = $('input[type=checkbox]:checked').not('#master_checkbox');
        if (checked_documents.length == 0) {
            alert('Debe seleccionar al menos un documento para eliminar');
            return false;
        }

        if (confirm('Está seguro de que desea eliminar los documentos seleccionados?')) {
            var document_elems = checked_documents.parent().parent().find('span');
            document_pks = [];
            document_elems.each(function(index) {
                var elem = $(this);
                document_pks.push(elem.attr("id"));
            });
            $.ajax({
                url: '{% url delete-documents %}',
                type: 'POST',
                data: {document_pks: document_pks.join(), csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(response) {
                    window.location.href = '{% url home %}';
                }
            });
        }
    });

    function checkSelected(master_checkbox) {
        var input_checkbox = $('input[type=checkbox]');
        if (master_checkbox.checked)
            input_checkbox.attr('checked', 'checked');
        else
            input_checkbox.removeAttr('checked');
    }

    function checkMaster() {
        var master_checkbox = $('#master_checkbox');
        var all_checks = $('input[type=checkbox]').not('#master_checkbox');
        var checked_documents = $('input[type=checkbox]:checked').not('#master_checkbox');
        if (all_checks.length == checked_documents.length)
            master_checkbox.attr('checked', 'checked');
        else
            master_checkbox.removeAttr('checked');
    }
</script>
