{% extends "iSM/index.html" %}
{% block content %}
{% if consorcios %}
    <table class="table_consorcio" id="consorcios" cellspacing="10">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de creaci&oacute;n</th>
        </tr>
    </thead>
    <tbody>
    {% for consorcio in consorcios %}
        <tr>
            <td>{{ consorcio }}</td>
            <td>{{ consorcio.created|date:"d/m/Y" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No hay consorcios para mostrar</p>
{% endif %}
{% endblock %}