<legend>Seleccione los documentos a enviar</legend>
{% csrf_token %}
<ul id="documents_list">
{% for document in documents_list %}
    <li name="{{ document.pk }}"><input type="checkbox" onclick="checkDocuments();" value="{{ document.pk }}" /><img src='{{ STATIC_URL }}images/pdf-icon.png' /><span>{{ document.document_file|basename }} (subido el {{ document.created|date:"d/m/Y" }} a las {{ document.created|date:"H:m:s" }})</span></li>
{% empty %}
    <p>No hay documentos para enviar.</p>
{% endfor %}
</ul>
<button id="send_email" disabled="disabled">Enviar documentos</button>

<script type="text/javascript">
    $('#send_email').click(function() {
        $.fancybox(
            {
            'type':'iframe',
            'href':"{% url mail-documents consorcista_id %}",
            'autoDimensions':true,
            'autoScale':true,
            // 'height': 50,
            // 'width': 450,
            'transitionIn':'none',
            'transitionOut':'none',
            'scrolling':'yes'
            }
        );
        return false;
    });
</script>