{% extends "iSM/index.html" %}
{% block content %}
{% if consorcistas %}
        <table id="consorcistas" cellspacing="10">
        <thead>
            <tr>
                <th scope="col">Unidad</th>
                <th scope="col">Nombre</th>
                <th scope="col">E-mail</th>
                <th scope="col">Consorcio</th>
                <th scope="col">Fecha de creaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
        {% for consorcista in consorcistas %}
            <tr>
                <td>{{ consorcista.unidad }}</td>
                <td>{{ consorcista }}</td>
                <td>{{ consorcista.emails }}</td>
                <td>{{ consorcista.consorcio }}</td>
                <td>{{ consorcista.created|date:"d/m/Y" }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
{% else %}
    <p>No hay consorcistas para mostrar</p>
{% endif %}
{% endblock %}