<style>
    #mail_documents_list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #message_label {
        float: left;
    }

    #message_area {
        margin-left: 5px;
        width: 400px;
        height: 100px;
    }

    #subject {
        width: 200px;
    }
</style>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.elastic.source.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var document_elems = parent.$('input[type=checkbox]:checked').not('#master_checkbox').parent().parent().find('span');
        var document_pks = [];
        document_elems.each(function(index) {
            var elem = $(this);
            document_pks.push(elem.attr("id"));
            $('#mail_documents_list').append(elem.clone());
            $('#mail_documents_list').append('<br/>');
        });
        $('#document_pks').attr("value", document_pks.join(','));
        $('#message_area').elastic();

        $('.common_file').on('click', function(e) {
            var common_pks = [];
            common_checked = $('.common_file:checked');
            for(i=0; i < common_checked.length; i++ ) {
                common_pks.push($(common_checked[i]).closest('tr').find('span').attr('id'));
            }
            $('#common_pks').attr("value", common_pks.join(','));
        });
    });

    function checkMessage() {
        if ($('#subject').val().trim() == '' || $('#message_area').val().trim() == '') {
            alert('Por favor rellene los campos de asunto y mensaje');
            return false;
        }
        return true;
    }
</script>
<h3>Usted est&aacute; a punto de enviar los siguientes documentos:</h3>
<ul id="mail_documents_list">
</ul>
<hr />
<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" id="document_pks" name="document_pks"/>
    <input type="hidden" id="common_pks" name="common_pks"/>
    <label for="subject" id="subject_label">Asunto del correo:</label>
    <input type="text" id="subject" name="subject" />
    <br/></br>
    <label for="message_area" id="message_label">Mensaje en el correo:</label>
    <textarea id="message_area" name="message_area"></textarea>
    <br/><br/>
    <legend>Incluir archivos comunes:</legend>
    <table>
    {% for common_file in common_files %}
        <tr>
            <td><input type='checkbox' class='common_file' /></td><td><span id="{{ common_file.pk }}">{{ common_file }}</span></td>
        </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Enviar correo" onclick="return checkMessage();"/>
</form>
