{% extends "iSM/index.html" %}
{% load customtags %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox-buttons.css?v=1.0.3" type="text/css" media="screen" />
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js?v=2.1.0"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-buttons.js?v=1.0.3"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-media.js?v=1.0.3"></script>

<script type="text/javascript">
    function popularConsorcio(consorcio_id) {
        if (consorcio_id) {
            $.get("{% url home %}", { consorcio_id: consorcio_id },
                    function(response) {
                        $('#consorcista_list').html(response);
                        first_item = $('#id_consorcista').children()[0];
                        popularDocumentos(first_item.value);
                    }
            );
        }
    }

    function popularDocumentos(consorcista_id) {
        if (consorcista_id) {
            $.get("{% url get-documents %}", { consorcista_id: consorcista_id },
                    function(response) {
                        $('#documents').html(response);
                    }
            );
        }
    }

    function checkDocuments() {
        var checkboxes = $('input[type="checkbox"]:checked');
        if (checkboxes.length > 0)
            $('#send_email').removeAttr('disabled');
        else
            $('#send_email').attr('disabled', 'disabled');
    }
</script>
{% endblock %}
{% block content %}
<div class="section">
    <fieldset>
    <legend>Seleccione consorcio</legend>
    {% if consorcio_list %}
        <select class="styled_select" size="1" name="consorcio" onchange="popularConsorcio(this.value)">
            <option></option>
        {% for consorcio in consorcio_list %}
            <option value={{ consorcio.id }}>{{ consorcio.name }}</option>
        {% endfor %}
        </select>
    {% else %}
        <p> No hay consorcios. </p>
    {% endif %}
    <br/><a class="add_anchors" href="{% url add-consorcio %}">Agregar consorcio</a><br/><br/>
    <div id="consorcista_list">
    </div>
    <br/>
    <div id="documents">
    </div>
    </fieldset>
</div>
{% endblock %}
