{% extends "iSM/index.html" %}
{% load customtags %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox-buttons.css?v=1.0.3" type="text/css" media="screen" />
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js?v=2.1.0"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-buttons.js?v=1.0.3"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-media.js?v=1.0.3"></script>

<script type="text/javascript">
    function popularDocumentos() {
        var consorcio_id = $('#consorcio_list').val();
        var datepicker_date = $('#date_selection').val();
        if (consorcio_id && datepicker_date) {
            $.get("{% url get-documents %}", { consorcio_id: consorcio_id, date: datepicker_date },
                    function(response) {
                        $('#documents').html(response);
                    }
            );
        }
        else
            $('#documents').empty();
    }
</script>
{% endblock %}
{% block content %}
<div class="section">
    <fieldset>
    <legend>Seleccione consorcio</legend>
    {% if consorcio_list %}
        <select class="styled_select" size="1" id="consorcio_list" name="consorcio" onchange="popularDocumentos();">
            <option></option>
        {% for consorcio in consorcio_list %}
            <option value={{ consorcio.id }}>{{ consorcio.name }}</option>
        {% endfor %}
        </select>
    {% else %}
        <p> No hay consorcios. </p>
    {% endif %}
    <br/><br/>
    <legend>Seleccione mes/a&ntilde;o</legend>
    <input id="date_selection" class="datefield" />
    <br/><br/>
    <div id="documents">
    </div>
    </fieldset>
</div>
{% endblock %}
