{% extends "iSM/index.html" %}
{% load customtags %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox-buttons.css?v=1.0.3" type="text/css" media="screen" />
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js?v=2.1.0"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-buttons.js?v=1.0.3"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-media.js?v=1.0.3"></script>

<script type="text/javascript">
    function popularDocumentos() {
        var consorcio_id = $('#consorcio_list').val();
        var consorcista_id = $('#consorcista_list').val();
        var datepicker_date = $('#date_selection').val();
        $.ajax({
            url: "{% url get-documents %}",
            data: {consorcio_id: consorcio_id, consorcista_id: consorcista_id, date: datepicker_date},
            beforeSend: function(xhr) {
                $('#documents').html('<img src="{{ STATIC_URL }}images/ajax-loader.gif"/>');
            },
            success: function(response) {
                $('#documents').html(response);
            }
        })
    }

    $().ready(function() {
        popularDocumentos();
    });
</script>
{% endblock %}
{% block content %}
<div class="section">
    <fieldset>
    <legend>Filtros</legend>
    <legend>Consorcio</legend>
    {% if consorcio_list %}
        <select class="styled_select" size="1" id="consorcio_list" name="consorcio" onchange="popularDocumentos();">
            <option></option>
        {% for consorcio in consorcio_list %}
            <option value={{ consorcio.id }}>{{ consorcio.name }}</option>
        {% endfor %}
        </select>
    {% else %}
        <p> No hay consorcios. </p>
    {% endif %}
    <br/><br/>
        <legend>Consorcista</legend>
        {% if consorcista_list %}
            <select class="styled_select" size="1" id="consorcista_list" name="consorcista" onchange="popularDocumentos();">
                <option></option>
                {% for consorcista in consorcista_list %}
                    <option value={{ consorcista.id }}>{{ consorcista.name }}</option>
                {% endfor %}
            </select>
        {% else %}
            <p> No hay consorcistas. </p>
        {% endif %}
        <br/><br/>
    <legend>Seleccione mes/a&ntilde;o</legend>
    <input id="date_selection" class="datefield" onchange="popularDocumentos();"/>
    <br/><br/>
    <div id="documents">
    </div>
    </fieldset>
</div>
{% endblock %}
