{% extends "iSM/index.html" %}
{% block extra_js %}
<script type="text/javascript">
    function checkForm() {
        file_field = $('#document_file');
        var re_upload = /.+\.pdf/;
        if (!re_upload.test(file_field.val().split('\\')[2])) {
            alert("Por favor seleccione un archivo de consorcio válido");
            return false;
        }
        return true;
    }
</script>
{% endblock %}
{% block content %}
    <div class="section">
        <form id="upload_form" action="{% url upload %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Seleccione consorcio</legend>
                {{ upload_form.errors }}
                {{ upload_form.as_p }}
                <input type="submit" value="Subir archivo" onclick="return checkForm();"/>
            </fieldset>
        </form>
    </div>
{% endblock %}
